includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: max
    phpVersion: 80401
    paths:
        - src
        - bin/analytics
        - public/index.php
        - migrations
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    strictRules:
        disallowedLooseComparison: true
        booleansInConditions: true
        uselessCast: true
        requireParentConstructorCall: true
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        strictFunctionCalls: true
        dynamicCallOnStaticMethod: true
        switchConditionsMatchingType: true
        noVariableVariables: false
        strictArrayFilter: true
